.countdown {
    width: 200px;
    height: 100px;
    background-color: #f8f9fa; 
    border: 4px solid #18232e; 
    border-radius:10%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    font-weight: bold;
    color: #000000; 
    text-align: center;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); 
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
  }
  
  .countdown:hover {
    background-color: rgb(202, 166, 237);
    color: rgb(85, 78, 92);
    border-color: #4b2a6a;
  }