
.first {
    color: #c92a2a; /
}

.second {
    color: #a61e4d;
    border-bottom: 1px solid #a61e4d; 
}


h1 {
    color: #c92a2a; 
}

h2 {
    color: #364fc7; 
    border-bottom: 1px solid #364fc7;
}
